---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostList from "../../components/BlogPostList.astro";
import { getValidBlogPosts } from "../../lib/utils";

const allPosts = await getValidBlogPosts();

const pageTitle = "Blog Posts";
const pageDescription = "Read the latest articles from the blog.";
---
<BaseLayout title={pageTitle} description={pageDescription}>
  <h1 class="mb-8 text-3xl font-bold">{pageTitle}</h1>
  <BlogPostList posts={allPosts} />
</BaseLayout>
</html>
