---
import type { MarkdownHeading } from "astro";

interface Props {
  pageTitle: string;
  Content: astroHTML.JSX.Element;
  headings?: MarkdownHeading[];
}

const { pageTitle, Content } = Astro.props;
---

<article class="relative mt-8">
  <h1 class="mb-8 text-3xl font-bold">{pageTitle}</h1>
  <div class="prose lg:prose-lg prose-headings:scroll-mt-20 prose-a:text-primary hover:prose-a:text-primary/80 max-w-none">
    <Content />
  </div>
</article>